.bot-n,
.bot-n * {
  box-sizing: border-box;
}
.bot-n {
  background: #f49a13;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(170, 39, 39, 0.25);
}
.clicka-para-saber-m-s {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBoldItalic", sans-serif;
  font-size: 32px;
  font-weight: 600;
  font-style: italic;
  position: relative;
}
